@{
    ViewBag.Title = "Update";
}
<!-- Page Header -->
<div class="container">
    <header class="page-header">
        <div class="branding">
            <img src="https://vuejs.org/images/logo.png" alt="Logo" title="Home page" class="logo" />
            <h1>Vue.js CRUD application</h1>
        </div>
    </header>
    <main id="app">
        <h2>Edit user</h2>
        <form>
            <div class="form-group">
                <label for="edit-acct">Acct</label>
                <input class="form-control" id="edit-acct" v-model="user.acct" disabled />
                <div style="color:red" v-if="validated.acct.length>0">
                    驗證:
                    <span v-for="item in validated.acct">
                        {{item}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="edit-name">Name</label>
                <input class="form-control" id="edit-name" v-model="user.name" required />
                <div style="color:red" v-if="validated.name.length>0">
                    驗證:
                    <span v-for="item in validated.name">
                        {{item}}
                    </span>
                </div>
            </div>
            <button type="button" class="btn btn-primary" v-on:click="update_user">Save</button>
            <a href="/demo" class="btn btn-default">Cancel</a>
        </form>
    </main>
</div>

<script src="~/Scripts/Utility.js"></script>
<script src="~/Scripts/Modules/User/Base.js"></script>
<script src="~/Scripts/Modules/User/Update.js"></script>

<!-- Template Update -->
@*<template id="user-edit">
        <h2>Edit user</h2>
        <form v-on:submit="updateuser">
            <div class="form-group">
                <label for="edit-name">Name</label>
                <input class="form-control" id="edit-name" v-model="user.name" required />
            </div>
            <div class="form-group">
                <label for="edit-acct">acct</label>
                <textarea class="form-control" id="edit-acct" rows="3" v-model="user.acct"></textarea>
            </div>
            <div class="form-group">
                <label for="edit-memo">memo</label>
                <input type="number" class="form-control" id="edit-memo" v-model="user.memo" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a v-link="'/'" class="btn btn-default">Cancel</a>
        </form>
    </template>*@